@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;
}

/* to style the editor in the  react-qill component */
.ql-editor {
  /* this will increase the font-size by 5% */
  font-size: 1.05rem;
}

.post-content p {
  margin-bottom: 0.5rem;
}

.post-content h1 {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: sans-serif;
  margin: 1.5rem 0;
}

.post-content h2 {
  font-size: 1.4rem;
  font-family: sans-serif;
  margin: 1.5rem 0;
}

.post-content a {
  color: rgb(73, 149, 199);
  text-decoration: none;
}

.dark .post-content a {
  color: red !important;
}

.post-content a:hover {
  text-decoration: underline;
}

.post-content pre.ql-syntax {
  background-color: #1e1e1e !important; /* Dark background */
  color: #f8f8f2 !important; /* Light text */
  padding: 12px !important;
  border-radius: 5px !important;
  font-family: "Fira Code", monospace !important; /* Monospace font */
  overflow-x: auto !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2) !important; /* Subtle shadow */
}
.post-content .ql-syntax {
  background-color: #1e1e1e !important; /* Dark background */
  color: #f8f8f2 !important; /* Light text */
  padding: 12px !important;
  border-radius: 5px !important;
  font-family: "Fira Code", monospace !important; /* Monospace font */
  overflow-x: auto !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2) !important; /* Subtle shadow */
}
.post-content code {
  background-color: #1e1e1e !important; /* Dark background */
  color: #f8f8f2 !important; /* Light text */
  padding: 12px !important;
  border-radius: 5px !important;
  font-family: "Fira Code", monospace !important; /* Monospace font */
  overflow-x: auto !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2) !important; /* Subtle shadow */
}
