@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;
}

/* to style the editor in the  react-qill component */
.ql-editor {
  /* this will increase the font-size by 5% */
  font-size: 1.05rem;
}

.post-content p {
  margin-bottom: 0.5rem;
}

.post-content h1 {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: sans-serif;
  margin: 1.5rem 0;
}

.post-content h2 {
  font-size: 1.4rem;
  font-family: sans-serif;
  margin: 1.5rem 0;
}

.post-content a {
  color: rgb(73, 149, 199);
  text-decoration: none;
}
.post-content a:hover {
  color: rgb(73, 149, 199);
  text-decoration: underline;
}
.post-content .ql-syntax {
  background: #1e1e1e; /* Dark background like VS Code */
  color: #d4d4d4; /* Default text color */
  font-family: "Fira Code", "Courier New", monospace; /* Use a coding font */
  padding: 10px;
  border-radius: 5px;
  overflow-x: auto; /* Enable horizontal scrolling */
}

.dark .post-content a {
  color: red;
}
